<!-- <div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center"> 
                <img style="height: 100px;" src="../../assets/Remove-bg.ai_1715867284632.png" alt="" >
            </div>
            <h2 class="h4 text-center" style="font-weight: bolder;">YOUR ACCOUNT FOR EVERYTHING NIKE</h2>
            <form action="" method="post">
                <input name="account_user" class="form-control border-black rounded-0" style="height: 45px;"
                    type="text" placeholder="User" required><br>
                <input name="account_pass" class="form-control border-black rounded-0" style="height: 45px;"
                    type="password" placeholder="Password" required>

                <div class="d-flex justify-content-between text-decoration-none mt-3 mb-3">
                    <a style="text-decoration: none; color: black; font-size: 14px;" href="">Forgotten your
                        password?</a>
                    <a style="text-decoration: none; color: black; font-size: 14px;"
                    href="/products/register" routerLink="/products/register">Register</a>
                </div>
                <p class="text-center" style="font-size: 14px;">By logging in, you agree to Privacy Policy <br>
                    and Terms of Use.</p>
                <button type="submit" class="btn btn-dark border-black rounded-0 form-control mb-5"
                    style="height: 45px;">Login</button>
            </form>
        </div>
    </div>
</div> -->
<!-- login.component.html -->
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<div id="successAlert" class="alert alert-success" style="display: none;">
    đăng nhập thành công!<strong> <svg id="Layer_1" style="enable-background:new 0 0 512 512; width: 20px; height: 20px;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css"> .st0{fill:#41AD49;} </style><g><polygon class="st0" points="434.8,49 174.2,309.7 76.8,212.3 0,289.2 174.1,463.3 196.6,440.9 196.6,440.9 511.7,125.8 434.8,49     "/></g></svg>
    </strong>
  </div>
<div class="container mt-1">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="text-center">
          <img style="height: 100px;" src="../../assets/Remove-bg.ai_1715867284632.png" alt="">
        </div>
        <h2 class="h4 text-center" style="font-weight: bolder;">YOUR ACCOUNT FOR EVERYTHING NIKE</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <input formControlName="email" class="form-control border-black rounded-0" style="height: 45px;" type="email" placeholder="Email" required>
            <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="text-danger">
              Email is required
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="text-danger">
              Invalid email format
            </div>
          </div>
          <div class="mt-3">
            <input formControlName="password" class="form-control border-black rounded-0" style="height: 45px;" type="password" placeholder="Password" required>
            <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" class="text-danger">
              Password is required
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched" class="text-danger">
                Password must be at least 6 characters
              </div>
          </div>
          <div class="d-flex justify-content-between text-decoration-none mt-3 mb-3">
            <a style="text-decoration: none; color: black; font-size: 14px;" href="">Forgotten your password?</a>
            <a style="text-decoration: none; color: black; font-size: 14px;" href="/products/register" routerLink="/products/register">Register</a>
          </div>
          <p class="text-center" style="font-size: 14px;">By logging in, you agree to Privacy Policy <br> and Terms of Use.</p>
          <button type="submit" class="btn btn-dark border-black rounded-0 form-control mb-5" style="height: 45px;" >Login</button>
        </form>
      </div>
    </div>
  </div>