<!-- <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let product of products">
        <div class="card mb-4">
          <img class="card-img-top img-thumbnail" [src]="product.image" [alt]="product.title">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Giá: {{ product.price }}</p>
            <button class="btn btn-primary">Đấu giá</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
   <!-- <p-messages [(value)]="messages" [enableService]="false"></p-messages> -->
   <!-- <div *ngIf="Message"> -->
   <!-- <p-messages [(value)]="messages" [enableService]="false">lỗi hiêm sgawpk</p-messages> -->
  <!-- </div> -->
      
  <div class="container mt-1">

    <div id="demo" class="carousel slide overflow-hidden" data-bs-ride="carousel" style="height: 480px;">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/banner11.png" alt="Los Angeles" class="d-block w-100 h-100">
            </div>
            <div class="carousel-item">
                <img style="height: 100%;" src="../../../assets/banner12.png" alt="Chicago" class="d-block w-100 h-100">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/banner13.png" alt="New York" class="d-block w-100 h-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    </div>
  <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
    {{ errorMessage }}
  </div>
  
   <h1 class="fw-bold mt-3 d-flex align-items-center" style="height: 70px;">NEW PRODUCT</h1>
   <div class="row">
    <div class="col-3 mb-5"  *ngFor="let product of products .slice(0, 8)">
        <div class="border-black border-top border-bottom overflow-hidden mt-3 mb-3" style="height: 380px;">
            <div style="height: 70px;">
                <h1 style="margin: 0px;" class="h5 d-flex align-items-start mb-2 mt-2">{{ product.title }}</h1>
                <div style="height: 30px; font-size: 14px;" class="text-uppercase text-end text-danger-emphasis">{{ product.price }}VNĐ</div>

            </div>
            <div class="bg-light d-flex align-items-center justify-content-center overflow-hidden mt-0 image-container">
                <img style="height:261px; width: 261px;" class="object-fit-cover"  [src]="product.image" [alt]="product.title" alt="">
            </div>
        </div>
        <p>{{product.description}}</p>

        <div class="text-end">
            <a class="w-100" href="" [routerLink]="['/products', product.id]" >
                <button class="btn btn-dark w-50 btn-sm rounded-0 " style="height: 30px;">FIND OUT MORE</button>
            </a>
        </div>
   
    </div>
    
<h1 class="fw-bold mt-3 d-flex align-items-center" style="height: 70px;">DON'T MISS</h1>
<section class="banner_video container mt-4">
    <video style="width: 100%;" controls autoplay loop src="../../../assets/b.mp4"></video>
</section>
<h1 class="fw-bold mt-3 d-flex align-items-center" style="height: 70px;">WHAT'S HOT</h1>
<div class="row">
    <div class="col-3 mb-5" *ngFor="let product of products .slice(0, 4)">
        <div>
            <div class="border-black border-top border-bottom overflow-hidden mt-3 mb-3" style="height: 380px;">
                <div style="height: 70px;">
                    <h1 style="margin: 0px;" class="h5 d-flex align-items-start mb-2 mt-2">{{ product.title }}</h1>
                    <div style="height: 30px; font-size: 14px;" class="text-uppercase text-end text-danger-emphasis">{{ product.price }} VNĐ</div>
                </div>
                <div class="bg-light d-flex align-items-center justify-content-center overflow-hidden mt-0">
                    <img style="height:261px; width: 261px;" class="object-fit-cover"  [src]="product.image" [alt]="product.title" alt="">
                </div>
            </div>
            <div class="text-end">
                <a class="w-100" href="" [routerLink]="['/products', product.id]" >
                    <button class="btn btn-dark w-50 btn-sm rounded-0 " style="height: 30px;">FIND OUT MORE</button>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="hr">
<h1 class="fw-bold mt-3 d-flex align-items-center" style="height: 70px;">WHO ARE YOU SHOPPING FOR?</h1>
<section class="d-flex justify-content-between mb-5">
    <div class="position-relative">
        <img style="height: 358px;" src="../../../assets/Rectangle 8.png" alt="">
        <a href="#"><button style="top: 77%; left: 10%; font-size: 14px; width: 120px; height: 40px;" class="position-absolute boder rounded-pill fw-bolder">Women's</button></a>
    </div>
    <div class="position-relative">
        <img style="height: 358px;" src="../../../assets/Rectangle 9.png" alt="">
        <a href="#"><button style="top: 77%; left: 10%; font-size: 14px; width: 120px; height: 40px;" class="position-absolute boder rounded-pill fw-bolder">Men's</button></a>
    </div>
    <div class="position-relative">
        <img style="height: 358px;" src="../../../assets/Rectangle 10.png" alt="">
        <a href="#"><button style="top: 77%; left: 10%; font-size: 14px; width: 120px; height: 40px;" class="position-absolute boder rounded-pill fw-bolder">Kid's</button></a>
    </div>
</section>
</div>
