<!-- 
<footer class="bg-black opacity-75 pt-3 pb-3 border-top">
    <div class="d-flex justify-content-around">
        <div class="">
            <div class="a"><a href="#">FIND A STORE</a><br></div>
            <div class="a"><a href="#">BECOME A MEMBER</a><br></div>
            <div class="a"><a href="#">Send Us Feedback</a><br></div>
        </div>
        <div class="">
            <div class="a"><a href="#">GET HELP</a><br></div>
            <div class="aa"><a href="#">Delivery</a><br></div>
            <div class="aa"><a href="#">Order Status</a><br></div>
            <div class="aa"><a href="#">Returns</a><br></div>
            <div class="aa"><a href="#">Payment Options</a><br></div>
            <div class="aa"><a href="#">Contact Us</a><br></div>
        </div>
        <div class="">
            <div class="a"><a href="#">ABOUT HMĐ STORE</a><br></div>
            <div class="aa"><a href="#">News</a><br></div>
            <div class="aa"><a href="#">Careers</a><br></div>
            <div class="aa"><a href="#">Investors</a><br></div>
            <div class="aa"><a href="#">Sustainability</a><br></div>
        </div>
        <div class="rong" style="width: 20px;">
        </div>
        <div class="">
            <a href="https://www.facebook.com/mr.minh04">
                <i class="fa-brands fa-facebook fa-2xl m-2"></i></a>
            <a href="https://www.instagram.com/mr_minh04/">
                <i class="fa-brands fa-instagram fa-2xl m-2"></i></a>
            <a href="https://www.youtube.com/channel/UCrZOlzK3dPIoGZW6zdTDEoA">
                <i class="fa-brands fa-youtube fa-2xl m-2"></i></a>
            <a href="https://www.tiktok.com/@mr_minh04">
                <i class="fa-brands fa-tiktok fa-2xl m-2"></i></a>
        </div>
    </div>
</footer> -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>&copy; 2024 Your Website. All Rights Reserved.</p>
          <p>Designed with <span style="color: red;">&#10084;</span> by You</p>
        </div>
      </div>
    </div>